:root:root .main
  .menu
    border-radius 0
  .header.item
    margin-left 4.2%
    font-size 20px
  .user-info, .action
    padding-left 0
    padding-right 0
  .user-info
    .segment
      border-top-right-radius 0
      border-bottom-right-radius 0
      border-right none
  .action
    .segment
      border-top-left-radius 0
      border-bottom-left-radius 0
  .coin-info
    margin-top calc(2rem - .14285714em)